<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% if student_list %}
    <table border="2">
        <tr>
            <th>sl_no</th>
            <th>name</th>
            <th>lname</th>
            <th>email</th>
            <th>dob</th>
            <th>phone_no</th>
            <th>address1</th>
            <th>address2</th>

            {% comment %} <th>password</th> {% endcomment %}
            
            
        </tr>
        {% for student in student_list %}
       
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{student.sname}}</td>
            <td>{{student.lname}}</td>
            <td>{{student.semail}}</td>
            <td>{{student.sdob}}</td>
            <td>{{student.sphone}}</td>
            <td>{{student.address1}}</td>
            <td>{{student.address2}}</td>
            <td><a href="{% url 'towner:delmovies' student.id %}">Delete</a></td>

            {% comment %} 
             {% endcomment %}

        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>no data</h1>
    {% endif %}
</body>
</html>